h1 {
    text-align: center;
    padding-top: 75px;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

p {
    padding-top: 50px;;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

@media (min-width: 1500px) {
    .portrait {
        width: 500px;
    }
}

/* For laptop screen sizes */
@media (min-width: 750px) and (max-width: 1500px) {
    .portrait {
        width: 400px;
    }
}

/* For mobile */
@media (max-width: 750px) {
    .portrait {
        width: 300px;
    }

    .bottom-left {
       width: 75%;
       font-size: 1em;
    }
}