.nav-item:hover {
    opacity: 0.2;
}

.nav-pills a{
    color: whitesmoke;
}

.background {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #03045e 50%, #023e8a 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .background2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .background3 {
    animation-duration:5s;
  }
  
  .content {
    
    left:50%;
    padding:5vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

h1 {
    font-family: monospace;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    color: whitesmoke;
    animation: fadeIn 5s;
}

.profile {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #e0fbfc;
    border-radius: 25px;
    animation: fadeIn 5s;
}

p {
    padding-top: 30px;;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    color: whitesmoke;
    animation: fadeIn 5s;
}

@media (min-width: 1500px) {
    body {
        font-size: 1.5rem;
    }
    .card {
        /*font-size: ;*/
        width: 51%;
    }
}

/* For laptop screen sizes */
@media (min-width: 750px) and (max-width: 1500px) {
    body {
        font-size: 1.1rem;
    }

    .card {
        /*font-size: ;*/
        width: 51%;
    }

    p {
        font-size: 0.7rem;
    }
}

/* For mobile */
@media (max-width: 750px) {
    body {
        font-size: 0.9rem;
    }
    
    .profile {
        width: 70%;
    }

    .card {
        /*font-size: ;*/
        width: 80%;
    }

    p {
        font-size: 0.9rem;
        overflow-wrap: break-word;
        white-space: "pre-wrap";
    }
    .content {
        width: 90%;
        height: 70%;
        overflow: scroll;
        padding-top: 0px;
    }

    .content h1 {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 10px;
        padding-top: 5px;
    }

}