.nav-item:hover {
    opacity: 0.2;
}

.nav-pills a{
    color: white;
}

.background {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #03045e 50%, #ade8f4 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .background2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .background3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(225,225,225,.8);
    border-radius:25px;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:5vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

h1 {
    font-family: monospace;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.profile {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #e0fbfc;
    border-radius: 25px;
}

p {
    padding-top: 30px;;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

@media (min-width: 1500px) {
    body {
        font-size: 1.5rem;
    }
    .card {
        /*font-size: ;*/
        width: 51%;
    }
}

/* For laptop screen sizes */
@media (min-width: 750px) and (max-width: 1500px) {
    body {
        font-size: 1.1rem;
    }

    .card {
        /*font-size: ;*/
        width: 51%;
    }

    p {
        font-size: 0.7rem;
    }
}

/* For mobile */
@media (max-width: 750px) {
    body {
        font-size: 0.9rem;
    }
    
    .profile {
        width: 50%;
    }

    .card {
        /*font-size: ;*/
        width: 80%;
    }

    p {
        font-size: 0.9rem;
        overflow-wrap: break-word;
        white-space: "pre-wrap";
    }
    .content {
        width: 90%;
        height: 70%;
        
    }

    .content h1 {
        text-align: center;
        font-size: 1rem;
    }
}